header {
    --border-width:5px;
}

.nav-list {
    border:5px solid rgb(228, 4, 4);
    display:flex;
    flex-direction: row; /*by default it is row*/
    margin: 20px;
    padding: 10px;
    gap: 10px;
    list-style: none;
    justify-content:space-between;
    flex-wrap: wrap;
}
.nav-list > * {
    flex-basis:1;
}

.nav-list li {
    display: block;
    width: max-content;
    flex-shrink: 1;
    flex-grow: 0;

}